<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Youtube API service</div>
        <div class="panel-body">
          App for begginers to see how youtube api and method get works.
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <form #f="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xs-7">
                <div class="form-group">
                  <label>Query</label>
                  <input
                    type="text"
                    class="form-control"
                    ngModel
                    name="q">
                </div>
              </div>
              <div class="col-xs-5">
                <label>Max search result</label>
                <input
                  type="number"
                  class="form-control"
                  ngModel
                  pattern="0+\.[0-9]*[1-9][0-9]*$"
                  name="maxResults"
                >
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <hr>
                <span class="badge" style="margin-bottom: 30px">Response info</span>
              </div>
              <div class="col-xs-12">
                <div class="alert alert-info">
                  <b>Next page token</b> {{ response?.nextPageToken }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button type="submit" class="btn btn-default">Wyslij</button>
                <button class="btn btn-success" *ngIf="response" type="button" style="margin-left: 30px" (click)="onNextPage()">
                  NEXT PAGE
                </button>
                <hr>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <div
        class="panel panel-default"
        *ngFor="let item of items;">
          <div class="panel-heading">
            <h3>
              {{item.snippet.title}}
            </h3>
            <span class="badge">
              kind:
            </span>
            <span>
              {{item.id.kind}}
            </span>
            <span class="badge">
              id:
            </span>
            <span>
              {{item.id.videoId}}
            </span>
          </div>
          <div class="panel-body">
            <iframe width="420" height="315"
                    [attr.src]="getUrl(item.id.videoId)">
            </iframe>
          </div>
          <div class="panel-body">
            <span class="badge">Description</span>
            <hr>
            <p>
              {{item.snippet.description}}
            </p>
          </div>
      </div>
    </div>
  </div>
</div>